<!-- About Section
   ================================================== -->
<section id="about">

    <div class="row section-head">

        <div class="twelve columns">

            <h1>Donde la tecnología encuentra su elegancia<span>...</span></h1>

            <hr />

            <p>No somos simples ingenieros, somos artesanos del bit y poetas del algoritmo. Nuestra firma es invisible,
                pero nuestro impacto... inolvidable. Como Casanova en la corte de Venecia, sabemos que el verdadero arte
                no está en conquistar, sino en hacer que cada cliente se sienta como el único en el mundo.</p>

        </div> <!-- end section-head -->

    </div>

    <div class="row mobile-no-padding">

        <div class="process bgrid-half tab-bgrid-whole group">

            <div class="bgrid">

                <h3>Nuestro Proceso.</h3>

                <div>
                    <ul>
                        <li>El Coqueteo Inicial (Descubrimiento)</li>
                        <p>Nos acercamos con curiosidad, nunca con premura. Escuchamos más de lo que hablamos, porque
                            los mejores requisitos se revelan en susurros, no en gritos.</p>

                        <li>El Juego de Miradas (Diseño)</li>
                        <p>La verdadera elegancia está en lo que se sugiere, no en lo que se muestra. Creamos
                            arquitecturas que prometen sin revelar demasiado.</p>

                        <li>El Beso Digital (Implementación)</li>
                        <p>El momento donde la magia se hace tangible. Escribimos código que no resuelve problemas, sino
                            que los hace desaparecer con la gracia de un ilusionista.</p>

                        <li>El Romance Eterno (Soporte)</li>
                        <p>El verdadero amor no termina al amanecer. Ofrecemos una pasión que se reinventa con cada
                            actualización.</p>
                    </ul>
                </div>

            </div>

            <div class="bgrid">

                <h3>Nuestro Enfoque.</h3>

                <div>
                    <p>No resolvemos problemas; los desarmamos con elegancia y los reescribimos como poesía funcional.
                    </p>
                    <p>En The Silent Algorithm, creemos que la tecnología excepcional debe ser como un susurro en medio
                        del caos digital:</p>
                    <ul>
                        <li>Precisión quirúrgica (código que opera con la delicadeza de un relojero suizo)</li>
                        <li>Discreción absoluta (seguridad tan invisible como impenetrable)</li>
                        <li>Eficiencia seductora (soluciones que enamoran por su simplicidad)</li>
                    </ul>
                    <p>Nuestro secreto? Tratamos cada línea de código como un verso perfecto y cada sistema como una
                        obra de arte… donde menos siempre es más.</p>



                </div>

            </div>

            <div class="bgrid">

                <h3>Nuestro Objetivo.</h3>

                <div>
                    <p>No buscamos ser los más ruidosos en el mercado, sino los más indispensables en su operación.</p>

                    <p>En The Silent Algorithm, aspiramos a convertirnos en el algoritmo invisible detrás de su éxito:
                    </p>

                    <ul>
                        <li>Automatizar lo tedioso para que usted enfoque lo extraordinario.</li>
                        <li>Proteger lo invaluable con la discreción de un guardián digital.</li>
                        <li>Innovar sin estridencias, creando soluciones que se notan por su ausencia de problemas.</li>
                    </ul>
                    <p>Nuestra meta final? Que nuestra tecnología sea tan esencial e imperceptible como el aire que
                        respira… y tan confiable como las leyes de la física.</p>
                </div>

            </div>

            <div class="bgrid">

                <h3>Nuestra Mision.</h3>

                <div>
                    <p>No creamos software; tejemos silencios digitales donde otros solo ven código.</p>

                    <p>En The Silent Algorithm, nos dedicamos a:</p>

                    <ul>
                        <li>Elevar lo funcional a lo sublime (tecnología que opera con la elegancia de un poema y la
                            precisión de un reloj suizo)</li>
                        <li>Proteger lo invaluable sin ostentación (seguridad invisible pero inquebrantable)</li>
                        <li>Revolucionar sin hacer ruido (innovación que se nota por su ausencia de problemas)</li>
                    </ul>

                    <p>Trabajamos para que el mundo digital respire con la armonía de un algoritmo perfecto: poderoso,
                        presente… pero invisible al ojo inexperto.</p>
                </div>

            </div>

        </div> <!-- end process -->

    </div> <!-- end row -->

{# 
    <div class="row team section-head">

        <div class="twelve columns">

            <h1>Meet Our Team<span>.</span></h1>

            <hr />

        </div>

    </div> <!-- end section-head -->

    <div class="row">

        <div id="team-wrapper" class="bgrid-fourth s-bgrid-third tab-bgrid-half mob-bgrid-whole group">

            <div class="bgrid member">

                <div class="member-pic">
                    <img src="images/team/member01-k.jpg" alt="" />
                    <div class="mask"></div>
                </div>
                <div class="member-name">
                    <h3>Naruto Uzumaki</h3>
                    <span>Creative Director</span>
                </div>

                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                    nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>

                <ul class="member-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                </ul>

            </div> <!-- end member -->

            <div class="bgrid member">

                <div class="member-pic">
                    <img src="images/team/member03-k.jpg" alt="" />
                    <div class="mask"></div>
                </div>
                <div class="member-name">
                    <h3>Sasuke Uchiha</h3>
                    <span>Lead Designer</span>
                </div>

                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                    nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>

                <ul class="member-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                </ul>

            </div> <!-- end member -->

            <div class="bgrid member">

                <div class="member-pic">
                    <img src="images/team/member04-k.jpg" alt="" />
                    <div class="mask"></div>
                </div>
                <div class="member-name">
                    <h3>Shikamaru Nara</h3>
                    <span>Designer</span>
                </div>

                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                    nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>

                <ul class="member-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                </ul>

            </div> <!-- end member -->

            <div class="bgrid member">

                <div class="member-pic">
                    <img src="images/team/member05-k.jpg" alt="" />
                    <div class="mask"></div>
                </div>
                <div class="member-name">
                    <h3>Sakura Haruno</h3>
                    <span>Designer</span>
                </div>

                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                    nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>

                <ul class="member-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                </ul>

            </div> <!-- end member -->

        </div> <!-- end team-wrapper -->

    </div> <!-- end row --> #}

    <div id="call-to-action">

        <div class="row section-ads">

            <div class="twelve columns">

                {# <h2><a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Styleshout Recommends
                        Dreamhost<span>.</span></a></h2> #}

                <h2>
                    En un mundo de <span>software</span> ruidoso, nosotros creamos el <span>silencio</span> tecnológico que tu <span>negocio</span> necesita<span>.</span>
                </h2>

                <div class="action">
                    <a class="smoothscroll" href="#contact">Contactanos</a>
                </div>

            </div>

        </div> <!-- end section-ads -->

    </div> <!-- end call-to-action -->

</section> <!-- end about -->