<!-- contact
   ================================================== -->
<section id="contact">

    <div class="row section-head">

        <div class="twelve columns">

            <h1>El silencio termina aquí... hablemos<span>.</span></h1>

            <hr />

        </div>

    </div> <!-- end section-head -->


    <div class="row">

        <div id="contact-form" class="six columns tab-whole left">

            <!-- form -->
            <form name="contactForm" id="contactForm" method="post" action="">
                <fieldset>

                    <div class="group">
                        <input name="contactName" type="text" id="contactName" placeholder="Nombre" value="" minLength="2"
                            required />
                    </div>
                    <div>
                        <input name="contactEmail" type="email" id="contactEmail" placeholder="Correo electronico" value=""
                            required />
                    </div>
                    {# <div>
                        <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="" />
                    </div> #}
                    <div>
                        <textarea name="contactMessage" id="contactMessage" placeholder="Cuéntenos su enigma tecnológico" rows="10" cols="50"
                            required></textarea>
                    </div>
                    <div>
                        <button class="submitform">Enviar</button>
                        <div id="submit-loader">
                            <div class="text-loader">Enviando...</div>
                            <div class="s-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                    </div>

                </fieldset>
            </form> <!-- Form End -->

            <!-- contact-warning -->
            <div id="message-warning"></div>
            <!-- contact-success -->
            <div id="message-success">
                <i class="icon-ok"></i>Tu mensaje ha sido enviado, gracias!<br />
            </div>

        </div>

        <div class="six columns tab-whole right">

            <p class="lead">En un mundo de respuestas automáticas, ofrecemos una conversación humana. No encontrará formularios impersonales ni bots vacíos aquí—solo mentes brillantes listas para escuchar su desafío y transformarlo en una solución elegante.</p>
            {# <h3 class="address">Oficinas Ubicadas</h3> #}
            <p>Deslícenos su inquietud como un secreto entre cómplices. Nosotros haremos el resto con la discreción que nos caracteriza.</p>

            {# <h3>Mensajes cifrados con cariño</h3> #}
            <h3>Mensajes cifrados como un diálogo entre amigos</h3>
            <p>secreto@thesilentalgorithm.com</p>

            {# <h3>Líneas abiertas como un diálogo entre amigos</h3>
            <p>Telefono: (777) 9985795</p> #}

        </div>

    </div> <!-- end row -->

</section> <!-- end contact -->