<!-- Footer
   ================================================== -->
<footer>

    <div class="row">

        <div class="twelve columns content group">

            {# <ul class="social-links">
                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                <li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>

            <hr /> #}

            <div class="info">

                <div class="footer-logo"> <span>The Silent Algorithm</span> </div>

                <p>Todo gran romance digital merece un final elegante... o mejor aún, un comienzo. Si esta fuera la última línea de código que escribiéramos, nos gustaría que fuera para usted.</p>
            </div>

        </div>

        <ul class="copyright">
            <li>&copy; Copyright 2024 The Silent Algorithm.</li>
            {# <li>Design by <a href="http://www.styleshout.com/">Styleshout.</a>.</li> #}
        </ul>

        <div id="go-top">
            <a class="smoothscroll" title="Back to Top" href="#hero">Regresar al inicio<i class="fa fa-angle-up"></i></a>
        </div>

    </div> <!-- end row -->

</footer> <!-- end footer -->