<!-- Services Section
   ================================================== -->
<section id="services">

    <div class="row section-head">

        <div class="twelve columns">

            <h1>No vendemos servicios, entregamos ventajas irresistibles<span>.</span></h1>

            <hr />

            <p>Ofrecemos lo que otros prometen: soluciones que desvisten problemas complejos y visten a tu empresa de éxito... con la elegancia de quien domina el arte de lo invisible.</p>

        </div>

    </div> <!-- end section-head -->

    <div class="row mobile-no-padding">

        <div class="service-list bgrid-third s-bgrid-half tab-bgrid-whole group">

            {# <div class="bgrid">

                <h3>Marketing.</h3>

                <div class="service-content">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                        fugit.
                    </p>
                </div>

            </div> <!-- end bgrid -->

            <div class="bgrid">

                <h3>Videography.</h3>

                <div class="service-content">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                        fugit.
                    </p>
                </div>

            </div> <!-- end bgrid -->

            <div class="bgrid">

                <h3>Photography.</h3>

                <div class="service-content">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                        fugit.
                    </p>
                </div>

            </div> <!-- end bgrid -->

            <div class="bgrid">

                <h3>Branding.</h3>

                <div class="service-content">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                        fugit.
                    </p>
                </div>

            </div> <!-- end bgrid -->

            <div class="bgrid">

                <h3>Web Design.</h3>

                <div class="service-content">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                        fugit.
                    </p>
                </div>

            </div> <!-- end bgrid -->

            <div class="bgrid">

                <h3>Web Development.</h3>

                <div class="service-content">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                        fugit.
                    </p>
                </div>

            </div> <!-- end bgrid --> #}
            {% from "ui/service.njk" import service %}
            <!-- -->
            {% for item in services %}
                <!-- -->
                {{ service(item.title, item.items) }}
                <!-- -->
            {% endfor %}

        </div> <!-- end service-list -->

    </div> <!-- end row -->

</section> <!-- end services -->