{% macro slide(title = "Aqui va el titulo del slide", subtitle = "A qui va el subtitulo del slide") %}
<li>
    <div class="flex-caption">
        <h1 class="">{{ title | safe }}</h1>

        <h3 class="">{{ subtitle | safe }}</h3>
    </div>
</li>
{% endmacro %}