<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
    <!--<![endif]-->

    <head>
        <meta charset="UTF-8">
        <title>{{ metadata.title | default('Silent Algorithm')}}</title>

        <meta name="description" content="{{ metadata.description | default('description') }}">
        <meta name="author" content="{{ metadata.title | default('Silent Algorithm')}}">

        <!-- mobile specific metas
   ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <meta name="robots" content="index, follow">
        <meta name="author" content="{{ metadata.siteUrl | default('Silent Algorithm') }}">
        <meta name="keywords" content="algoritmo silencioso, programacion, desarrollo, equipo, software, tecnologia, innovacion, The Silent Algorithm">
        <meta name="language" content="Spanish">
        <meta name="rating" content="General">
        <meta name="distribution" content="global">
        {# <meta name="theme-color" content="#ffffff"> #}
        {# <meta http-equiv="Content-Security-Policy" content="default-src 'self'"> #}

        <!-- CSS
   ================================================== -->
        <link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="css/vendor.min.css">
        <link rel="stylesheet" href="css/main.css">

        <!-- script
   ================================================== -->
        <script src="js/modernizr.js"></script>

        <!-- favicons
	================================================== -->
        <link rel="shortcut icon" href="assets/icon.png" type="image/x-icon">
    </head>

    <body id="home">

        {% include "navigation.njk" %}

        <main>
            {{ content | safe }}
        </main>

        <div id="preloader">
            <div id="loader"></div>
        </div>

        {% include "footer.njk" %}

        <!-- Java Script
   ================================================== -->
        <script src="js/jquery-1.11.3.min.js"></script>
        <script src="js/jquery-migrate-1.2.1.min.js"></script>
        <script src="js/jquery.flexslider-min.js"></script>
        <script src="js/jquery.waypoints.min.js"></script>
        <script src="js/jquery.validate.min.js"></script>
        <script src="js/jquery.fittext.js"></script>
        <script src="js/jquery.placeholder.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/main.js"></script>

    </body>

</html>