---
layout: layouts/layout-home.njk
---

{% include "hero.njk" %}
{% include "portfolio.njk" %}
{% include "services.njk" %}
{% include "about.njk" %}
{# {% include "testimonials.njk" %} #}
{% include "contact.njk" %}